footer {
  /* background-color: #0f3460; */
  background-color: #120078;
  padding: 100px 0;
  color: #fff;
}
footer h1 {
  margin-bottom: 30px;
  color: #e94560;
  font-weight: 800;
  font-style: italic;
}
footer .img {
  background-color: #0c2a4d;
  padding: 15px 20px;
  border-radius: 5px;
}
footer .img i {
  font-size: 20px;
  margin: 5px;
}
footer .img span {
  margin-top: 5px;
}
footer p {
  font-size: 14px;
  font-weight: 300;
  opacity: 0.5;
  margin-bottom: 20px;
}
footer h2 {
  margin-bottom: 20px;
}
footer li {
  margin-bottom: 10px;
  opacity: 0.5;
  cursor: pointer;
}

footer .footer {
  display: flex;
  flex-direction: row;
  gap: 60px;
  justify-content: space-between;
  width: 100%;
}

footer .footer .fLogoCon {
  width: 50%;
  display: flex;
  flex-direction: column;
}

footer .footer .boxCon {
  width: 50%;
  display: flex;
  gap: 15px;
  flex-direction: row;
}

footer .footer .box {
  width: 35%;
}

.fIcons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  footer .footer {
    flex-direction: column;
    gap: 30px;
  }
  footer .footer .fLogoCon {
    width: 100%;
  }
  footer .footer .boxCon {
    width: 100%;
    gap: 8px;
  }
  footer .footer .box {
    width: 100%;
  }
}
